<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile">

                </div>
            </div>
            <div class="col-sm-7">
<span class="p-tag">Developer</span>
<h1>MOHAN</h1>
<p>
    A software engineering professional with entry-
level experience specializing in software

development. A proven track record of
executing complex technical projects for the
development and implementation of CRM tools. Adept at developing custom software solutions
for client businesses.
</p>
<a href="#" >Read More..<img src="/assets/img/arrow.png" alt="arrow" width="20"></a>
            </div>
        </div>
    </div>
</section>